# Question 1: Load

1. Programmatically download and load into your favorite analytical tool the transactions data. This data, which is in line-delimited JSON format, can be found here.
    
    The data is read by pandas.


2. Please describe the structure of the data. Number of records and fields in each record?
    
    The data includes 786362 records, each of them has 29 fields. See df.info().
    

3. Please provide some additional basic summary statistics for each field. Be sure to include a count of null, minimum, maximum, and unique values where appropriate.
    
    See Section `Statistics` and `Unique Values`.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
df = pd.read_json('transactions.txt', lines=True)

In [4]:
df.replace('', np.nan, inplace=True)
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False

In [5]:
print(df.isnull().sum())

accountNumber                    0
customerId                       0
creditLimit                      0
availableMoney                   0
transactionDateTime              0
transactionAmount                0
merchantName                     0
acqCountry                    4562
merchantCountryCode            724
posEntryMode                  4054
posConditionCode               409
merchantCategoryCode             0
currentExpDate                   0
accountOpenDate                  0
dateOfLastAddressChange          0
cardCVV                          0
enteredCVV                       0
cardLast4Digits                  0
transactionType                698
echoBuffer                  786363
currentBalance                   0
merchantCity                786363
merchantState               786363
merchantZip                 786363
cardPresent                      0
posOnPremises               786363
recurringAuthInd            786363
expirationDateKeyInMatch         0
isFraud                          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  int64
 1   customerId                786363 non-null  int64
 2   creditLimit               786363 non-null  int64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                781801 non-null  object
 8   merchantCountryCode       785639 non-null  object
 9   posEntryMode              782309 non-null  object
 10  posConditionCode          785954 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  int64
 16  enteredCVV                786363 non-null  int64
 17  cardLast4Digits           786363 non-null  int64
 18  transactionType           785665 non-null  object
 19  echoBuffer                0 non-null       float64
 20  currentBalance            786363 non-null  float64
 21  merchantCity              0 non-null       float64
 22  merchantState             0 non-null       float64
 23  merchantZip               0 non-null       float64
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             0 non-null       float64
 26  recurringAuthInd          0 non-null       float64
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(9), int64(6), object(11)
memory usage: 158.2+ MB

# Clean Data
## Drop null data

In [7]:
drop_columns = ['echoBuffer', 'merchantCity', 'merchantState', 'merchantZip', 'posOnPremises', 'recurringAuthInd']
df.drop(drop_columns, axis=1, inplace=True)

In [74]:
df.to_csv('transactions.csv', index=False)

## Statistics

`df.describe()` displays the statistics for numeric columns -- mean, standard deviation, minimum, median and maximum values. The statistics for `accountNumber`, `customerId`, `cardCVV`, `enteredCVV` and `cardLast4Digits` are not meaningful, other statistcs for `creditLimit`, `availableMoney`, `transactionAmount` and `currentBalance` are shown in the table by `df.describe()`.

In [8]:
df.describe()

,accountNumber,customerId,creditLimit,availableMoney,transactionAmount,cardCVV,enteredCVV,cardLast4Digits,currentBalance
count,7.863630e+05,7.863630e+05,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000
mean,5.372326e+08,5.372326e+08,10759.464459,6250.725369,136.985791,544.467338,544.183857,4757.417799,4508.739089
std,2.554211e+08,2.554211e+08,11636.174890,8880.783989,147.725569,261.524220,261.551254,2996.583810,6457.442068
min,1.000881e+08,1.000881e+08,250.000000,-1005.630000,0.000000,100.000000,0.000000,0.000000,0.000000
25%,3.301333e+08,3.301333e+08,5000.000000,1077.420000,33.650000,310.000000,310.000000,2178.000000,689.910000
50%,5.074561e+08,5.074561e+08,7500.000000,3184.860000,87.900000,535.000000,535.000000,4733.000000,2451.760000
75%,7.676200e+08,7.676200e+08,15000.000000,7500.000000,191.480000,785.000000,785.000000,7338.000000,5291.095000
max,9.993896e+08,9.993896e+08,50000.000000,50000.000000,2011.540000,998.000000,998.000000,9998.000000,47498.810000

## Unique Values

Here's a list of unique values for categorical columns. `cardPresent`, `expirationDateKeyInMatch` and `isFraud` are boolean variables.

In [15]:
cols = ['merchantName', 'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'transactionType']
uniques = {}
for col in cols:
    uniques[col] = df[col].unique()
    print(f"The number of unique values for {col} is {len(uniques[col])} - {uniques[col]}")

The number of unique values for merchantName is 2490 - ['Uber' 'AMC #191138' 'Play Store' ... 'ATT #141119' 'EZ Wireless #200746'
 'Runners #747070']
The number of unique values for acqCountry is 5 - ['US' nan 'CAN' 'MEX' 'PR']
The number of unique values for merchantCountryCode is 5 - ['US' 'CAN' nan 'PR' 'MEX']
The number of unique values for posEntryMode is 6 - ['02' '09' '05' '80' '90' nan]
The number of unique values for posConditionCode is 4 - ['01' '08' '99' nan]
The number of unique values for merchantCategoryCode is 19 - ['rideshare' 'entertainment' 'mobileapps' 'fastfood' 'food_delivery'
 'auto' 'online_retail' 'gym' 'health' 'personal care' 'food' 'fuel'
 'online_subscriptions' 'online_gifts' 'hotels' 'airline' 'furniture'
 'subscriptions' 'cable/phone']
The number of unique values for transactionType is 4 - ['PURCHASE' 'ADDRESS_VERIFICATION' 'REVERSAL' nan]